/*.items {
  display: flex;
  padding: 5rem 0;
}

.item {
  flex: 1;
  transition: all 0.5s ease-in-out;
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.item:hover {
  flex-grow: 2;
}
.item img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
}
.item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 128, 0, 0.5);
}
.item:hover::after {
  opacity: 0.5;
}
.item:hover img {
  transform: scale(1.5);
}
*/
.block-animation {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: hotpink;
  animation: blockMove 5s linear infinite alternate forwards;
}
@keyframes blockMove {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100px;
    left: 200px;
    background-color: indianred;
    width: 250px;
    height: 350px;
  }
  40% {
    top: 120px;
    left: 120px;
    background-color: lightblue;
  }
  50% {
    top: 150px;
    left: 150px;
    background-color: indigo;
  }
  60% {
    top: 270px;
    left: 10px;
  }
}
