@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-MediumItalic.ttf");
  font-display: swap;
}
header.axit__header {
  background-color: #000;
}
.header__axit {
  display: flex;
  justify-content: space-between;
}
ul.ul {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
li {
  margin-right: 2rem;
}
li:hover {
  color: goldenrod;
  transition: all 0, 3s ease;
}
section.axit__first {
  background: url("../images2/background_axit.png");
}
.modern {
  font-family: Raleway;
  font-size: 50px;
  color: #ffffff;
}
