@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Montserrat-700;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-700";
  src: url("../fonts/Raleway-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway-600";
  src: url("../fonts/Raleway-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-500";
  src: url("../fonts/Raleway-MediumItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-400";
  src: url("../fonts/Raleway-Regular.ttf");
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  line-height: 1.15;
}

h3 {
  font-family: "Raleway-700", serif;
  font-size: 1.5rem;
  line-height: 1.15;
  text-transform: uppercase;
}
body {
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
.ul {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
.container0 {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_Mo {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

ul.hr {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
ul.hr li {
  margin-right: 2rem;
}
li:last-child {
  margin-right: 0;
}
li:not(:last-child) {
  margin-right: 1rem;
}

li::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 0, 85);
  transition: all 0, 3s ease;
}
li:hover::after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0, 3s ease;
}
a:hover {
  color: crimson;
  transition: all 0.3s ease-in-out;
}
section.Mogo {
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/Rectangle\ 2.png) 50% / cover no-repeat;
}
.subtitle {
  padding-top: 150px;
  font-size: 64px;
  line-height: 93px;
  text-align: center;
  font-family: "KaushanScript";
  color: #ffffff;
}

.mogo_h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-700;
  font-size: 144px;
  line-height: 176px;
  color: #ffffff;
  margin: auto;
}

.line {
  border-bottom: 5px solid rgb(243, 239, 239);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 44px;
}
.btn {
  border: 4px solid #ffffff;
  box-sizing: border-box;
  width: 400px;
  padding: 20px;
  margin-top: 72px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway-600";
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
ul.hr2 li {
  display: inline-block;
  padding: 40px;
  width: 22%;
  margin-top: 50px;
}
section.story {
  background-color: #ffffff;
}

.text {
  text-align: center;
  padding-top: 42px;
  font-weight: normal;
  font-size: 25px;
  font-family: KaushanScript;
}
.title {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 42px;
  font-size: 30px;
  font-family: Raleway-700;
}
.line2 {
  border-bottom: 4px solid rgb(238, 154, 154);
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 15%;
  padding-top: 30px;
}
.text2 {
  padding-top: 30px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.image {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.lorembox {
  display: flex;
  justify-content: center;
  margin: 10%;
}
section.wework {
  background-color: #ffffff;
}
p.work {
  color: #2d3033;
  text-align: center;
}
h3.amazing {
  color: #2d3033;
  text-align: center;
  margin: 5%;
}
.container_Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}
.shelf {
  margin: 1%;
}
section.design {
  background: url("../images/unsplash_lpjb_UMOyx8.png") 50% / cover no-repeat
    rgba(255, 255, 255, 0.5);
}
.gallery {
  position: relative;
}
.picture {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}
.picture_ {
  border: 20px solid #0f1111e3;
  border-radius: 20px;
}
.im {
  position: absolute;
  display: flex;
  flex: 1 1 auto;
  left: 750px;
  top: 0px;
}
.picture1 {
  position: absolute;
  left: 20px;
  top: 310px;
  border: 5px solid #0f1111e3;
  border-radius: 35px;
}

.section_man {
  margin: 1rem auto 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2d3033;
}

.section__suptitle {
  flex: 1;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.875rem;
  line-height: 1.45;
}

.section__suptitle::first-letter {
  text-transform: uppercase;
}

.section__title {
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.2;
}

.section__title:after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
}

.section__paragraph {
  padding: 1rem 0 2rem;
  font-size: 1.125rem;
  line-height: 1.15;
  text-align: center;
}

@media (max-width: 1024px) {
  .section__suptitle {
    font-size: 1.5rem;
  }

  .section__title {
    font-size: 1.5rem;
  }

  .section__paragraph {
    font-size: 0.875rem;
  }
}

p.lorem1 {
  text-align: center;
  margin: 5%;
}
.chel-closet {
  display: flex;
  justify-content: space-evenly;
}
.closet {
  display: flex;
  flex-direction: column;
}
.shelf1 {
  display: flex;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #c6cbcd;
}
section.little_box {
  background-color: #f8f8f8;
  margin: 5%;
}

.icon14 {
  border: 2px solid #95e1d3;
  width: 150px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}
.lorem14 {
  left: 5%;
}
section.who {
  background-color: #ffffff;
}
.images__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
}

.image {
  flex-basis: 20rem;
  position: relative;
  display: flex;
  transition: all 0.7s ease-in-out;
  flex: 1;
}

.image:not(:last-child) {
  margin-right: 0;
}

.item__img {
  display: flex;
  background: #95e1d3;
}

.gradient_img {
  cursor: pointer;
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #edd789e6 0%, #e98283e6 90%);
  opacity: 0;
  color: floralwhite;
  transition: all 0.3s ease-in-out;
}

.gradient_img > p {
  font-family: "Raleway-600", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

.gradient_img > img {
  max-width: 45px;
  padding-bottom: 1rem;
}

.image:hover .gradient_img {
  opacity: 1;
}

.about .image:hover .item__img img {
  opacity: 0;
}
.team__name {
  text-align: center;
  margin-top: 3%;
  font-family: "Raleway-700";
  font-size: 1.5rem;
}
.team__position {
  text-align: center;
  margin-top: 3%;
}
section.iconsy {
  background-color: #f8f8f8;
}
.arnaments {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0;
}
.arnament1 {
}
.creative_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ellipse {
  margin-top: 5%;
}
.clients {
  background-image: linear-gradient(#ffffffcc, #ffffffcc),
    url(../images/unsplash_-qrcOR33ErA.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.clients__holder {
  padding: 1rem 0 2rem;
  flex-basis: 50%;
  display: flex;
  align-content: space-between;
}

.clients__holder :nth-child(odd) {
  margin-right: 2rem;
}

.clients__img img {
  min-width: 4rem;
}
.clients__title {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #2d3033;
}

.clients__name {
  font-family: "Raleway-700";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.clients__subtitle {
  margin: 1rem 0 4rem;
  font-size: 1.125rem;
  line-height: 1.15;
  text-transform: uppercase;
  font-family: "Raleway-600";
}

.clients__deck {
  margin-top: auto;
  font-size: 1.125rem;
  line-height: 1.15;
  max-width: 369px;
  color: #2d3033;
}
.images__wrap__box {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
}

.sup__box {
  padding: 1rem 2rem;
  position: absolute;
  left: -1rem;
  bottom: 10%;
  background-color: #95e1d3;

  font-family: "Raleway-500";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 0.83;
  text-transform: uppercase;
  color: #ffffff;
}

.sup__box span {
  font-weight: normal;
  font-size: 1.125rem;
}

.blog__img__text h3 {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: "Raleway-700", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: #2d3033;
}

.blog__img__text p {
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  line-height: 1.5;
  align-items: center;
  color: #2d3033;
}

.blog__img__stat {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.blog__img__stat > * {
  padding: 0 1rem;
  font-family: "Raleway-400", serif;
  font-size: 0.8rem;
  line-height: 1.5;
  align-items: center;
  color: #2d3033;
}

@media (max-width: 1024px) {
  .sup__box {
    font-size: 1.5rem;
  }

  .sup__box span {
    font-size: 0.875rem;
  }

  .blog__img__text h3 {
    font-size: 1.125rem;
  }

  .blog__img__text p {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .blog .section__content {
    max-width: 500px;
    margin: 0 auto;
  }
  .images__wrap__box {
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sup__box {
    left: 0;
  }

  .blog__img__stat {
    align-self: flex-start;
  }
}
.footer {
  background: #f8f8f8;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: "Raleway-600", serif;
  font-size: 1.125rem;
  color: #2d3033;
}

.footer__box {
  max-width: 350px;
  margin: 2rem auto;

  flex: 4;
  line-height: 1.125;
}

.footer__logo {
  padding: 1rem 0;
}

.footer__box__heading {
  padding: 1.5rem 0;
}

.logo-box__text {
  padding-bottom: 1rem;
}

.logo-box__text--gray {
  color: #c6cbcd;
  padding-bottom: 1rem;
}

.logo-box__text--black {
  font-family: "Raleway-700", serif;
  font-size: 1.5rem;
  line-height: 1.875;
  border-bottom: 1px solid #c6cbcd;
}
.logo-box__text--black::first-letter {
  font-size: 1.125rem;
}

.logo-box__text--black span::first-letter {
  font-family: "Raleway-700", serif;
}

.logo-box__text--black span {
  font-family: "Raleway-400", serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "Raleway-400", serif;
  font-style: italic;
  font-size: 0.82rem;
  line-height: 1.1;
  color: #c6cbcd;
}
.footer__social__icons img {
  display: flex;
  align-content: space-around;
}

.form__content {
  display: flex;
  padding-top: 1.5rem;
}

.footer label {
  flex: 2;
}

.footer input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #c6cbcd;
  color: #c6cbcd;
  text-align: center;
}

.footer input::placeholder {
  color: #c6cbcd;
}

.form-btn {
  flex: 1;
  padding: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #95e1d3;
  text-transform: uppercase;
}

.form-btn:hover {
  background: #87d2c4;
}

.form-btn:active {
  background: #5c958a;
}

.blog__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog__box {
  display: flex;
}

.blog__box__img {
  flex: 1;
}
.blog__box__img img {
  height: 100%;
  object-fit: cover;
}

.blog__box__text {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-left: 1rem;
}

.blog__box__text p {
  font-family: "Raleway-700", serif;
  text-transform: uppercase;
}

.blog__box__text span {
  display: block;
  padding-top: 0.5rem;
  font-family: "Raleway-400", serif;
  font-size: 0.75rem;
  line-height: 1.1;
}

.footer__insta {
  flex: 3;
}

.instagram__img__wrap {
  display: flex;
  flex-wrap: wrap;
}

.instagram__img img {
  max-width: 300px;
  display: block;
  width: 60%;
}

.instagram__box a {
  display: block;
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: "Raleway-400", serif;
  font-size: 0.75rem;
  line-height: 1.1;
  text-decoration: underline;
  color: #2d3033;
}

.footer__coptright p {
  padding: 1rem;
  font-family: "Raleway-700", serif;
  font-size: 0.813rem;
  text-align: center;
  border-top: 1px solid #c6cbcd;
}

@media (max-width: 1024px) {
  .footer__content {
    font-size: 0.875rem;
  }

  .box__text--black span {
    font-size: 0.875rem;
  }

  .footer__social {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .footer__box {
    flex-basis: 100%;
  }

  .blog__box__text {
    text-align: left;
  }

  .blog__box__text span {
    margin-top: auto;
  }

  .instagram__img img {
    flex-basis: 30%;
  }

  .instagram__box a {
    text-align: center;
  }
  .instagram__img__wrap {
    justify-content: center;
  }
}
