* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 15%,
    rgba(233, 130, 131, 0.9) 100%
  );
}
.p1 {
  margin-top: 114px;
  font-size: 64px;
  line-height: 93px;
  color: #ffffff;
  text-align: center;
}
.div1 {
  height: 26.10000228881836px;
  width: 97.64409637451172px;
  padding-left: 170px;
  padding-top: 42px;
  border-radius: 0px;
}
ul.hr {
  margin: 0;
  text-align: right;

  margin-left: 402px;
  margin-right: 177px;
}
ul.hr li {
  display: inline;
  padding: 20px;
}
a {
  text-decoration: none;
}
.h1 {
  font-size: 144px;
  text-align: center;
  color: #ffffff;
}
.devider {
  margin-top: 44px;
  margin-bottom: 74.42px;
  margin-left: auto;
  margin-right: auto;
}
.div2 {
  border: 4px solid #ffffff;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
